@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --card-bg-color: #ffffff;
    --card-header-color: #1d1537;
    --card-text-color: #605f69;
    --card-hover-color: #7249f8;
    --card-hover-color-2: #2da8ef;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    min-width: 100%;
    font-family: 'Quicksand', sans-serif;
}

main {
    background-color: var(--card-header-color);
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: block;
    background-image: linear-gradient(90deg, var(--card-hover-color), var(--card-hover-color-2));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    color: var(--card-bg-color);
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    margin-top: 1em;
}

.btn:hover {
    box-shadow: 0 0 16px rgba(45, 168, 239, 1);
    transform: scale(1.05);
}

.profile-card {
    background-color: var(--card-bg-color);
    width: 20em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    transition: 0.2 ease;

    & .card-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 1em;

        & .card-cover {
            background-image: url('./assets/background.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            filter: blur(1.5em);
            width: 100%;
            height: 8em;
            position: absolute;
            top: 0;
            left: 0;
        }

        & .card-avatar {
            border-radius: 50%;
            width: 8em;
            height: 8em;
            z-index: 2;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
        }

        & h1 {
            color: var(--card-header-color);
            z-index: 2;
            margin-top: 0.5em;
        }

        & .sub-header {
            color: var(--card-text-color);
            z-index: 2;
        }
    }

    & .card-content {
        padding: 1em;
        transform: translateX(-100%);
        transition: 0.2 ease;

        & h2 {
            color: var(--card-header-color);
            margin-bottom: 0.5em;
        }

        & p {
            color: var(--card-text-color);
            margin-bottom: 0.5em;
        }
    }

    & #card-skills {
        display: none;

        & ul {
            list-style-type: none;

            & li {
                margin-bottom: 1em;

                & .progress-bar {
                    width: 100%;
                    height: 1em;
                    background-color: var(--card-text-color);
                    border-radius: 0.5em;

                    & .progress-value {
                        width: 50%;
                        height: 1em;
                        background-image: linear-gradient(90deg, var(--card-hover-color), var(--card-hover-color-2));
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-top-left-radius: inherit;
                        border-bottom-left-radius: inherit;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        position: relative;

                        & .tool-tip {
                            display: none;
                            position: absolute;
                            top: -2.1em;
                            right: -1.1em;
                            background-color: var(--card-header-color);
                            border-radius: 0.5em;
                            padding: 0.2em;
                            color: var(--card-bg-color);
                            font-size: 0.9em;
                        }

                        & .tool-tip::before {
                            content: "";
                            width: 0;
                            height: 0;
                            position: absolute;
                            right: 50%;
                            bottom: -0.5em;
                            border-left: 0.2em solid transparent;
                            border-right: 0.2em solid transparent;
                            border-bottom: 0.5em solid var(--card-header-color);
                            transform: rotate(180deg) translateX(-50%);
                        }
                    }
                }
            }
        }
    }

    & #card-details {
        display: none;
        
        & ul {
            list-style-type: none;

            & li {
                & p {
                    font-weight: 600;

                    & span {
                        font-weight: normal;
                    }
                }
            }
        }
    }

    & .card-nav {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 1em;

        & li {
            margin-bottom: 1em;
            font-weight: 600;
            color: var(--card-header-color);
            border-bottom: 0.1em solid transparent;
        }

        & li:hover {
            border-bottom: 0.1em solid var(--card-hover-color);
            cursor: pointer;
        }

        & .active {
            color: var(--card-hover-color-2);
        }
    }
}

.content-slide {
    animation-name: contentSlide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

.card-scale {
    animation-name: cardScale;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes contentSlide {
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
}

@keyframes cardScale {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}